html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Full page */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;  
  padding: 2rem;
  box-sizing: border-box;
}

.chat-container.chat-started {
  justify-content: flex-end; 
  padding-bottom: 2rem; 
}

.chat-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* chat input box */
.chat-input {
    flex: 1;
    width: 33vw;
    min-width: 300px;
    max-width: 600px;
    padding: 0.5rem;
    font-size: 1rem;
    /* display: block; */
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* submit button */
.chat-submit {

    padding: 0.75rem 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
}

.chat-submit:hover {
  background-color: #4338ca;
}

/* Chat area */
.chat-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.chat-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}

.chat-gif {
    width: 300px;
    border-radius: 12px;
}
